src/package-lock.json
src/node_modules/.package-lock.json
src/node_modules/@discordjs/collection/LICENSE
src/node_modules/@discordjs/collection/package.json
src/node_modules/@discordjs/collection/README.md
src/node_modules/@discordjs/collection/dist/index.d.ts
src/node_modules/@discordjs/collection/dist/index.js
src/node_modules/@discordjs/form-data/index.d.ts
src/node_modules/@discordjs/form-data/License
src/node_modules/@discordjs/form-data/package.json
src/node_modules/@discordjs/form-data/Readme.md
src/node_modules/@discordjs/form-data/lib/browser.js
src/node_modules/@discordjs/form-data/lib/form_data.js
src/node_modules/@discordjs/form-data/lib/populate.js
src/node_modules/abort-controller/browser.js
src/node_modules/abort-controller/browser.mjs
src/node_modules/abort-controller/LICENSE
src/node_modules/abort-controller/package.json
src/node_modules/abort-controller/polyfill.js
src/node_modules/abort-controller/polyfill.mjs
src/node_modules/abort-controller/README.md
src/node_modules/abort-controller/dist/abort-controller.d.ts
src/node_modules/abort-controller/dist/abort-controller.js
src/node_modules/abort-controller/dist/abort-controller.js.map
src/node_modules/abort-controller/dist/abort-controller.mjs
src/node_modules/abort-controller/dist/abort-controller.mjs.map
src/node_modules/abort-controller/dist/abort-controller.umd.js
src/node_modules/abort-controller/dist/abort-controller.umd.js.map
src/node_modules/ansi-styles/index.d.ts
src/node_modules/ansi-styles/index.js
src/node_modules/ansi-styles/license
src/node_modules/ansi-styles/package.json
src/node_modules/ansi-styles/readme.md
src/node_modules/asynckit/bench.js
src/node_modules/asynckit/index.js
src/node_modules/asynckit/LICENSE
src/node_modules/asynckit/package.json
src/node_modules/asynckit/parallel.js
src/node_modules/asynckit/README.md
src/node_modules/asynckit/serial.js
src/node_modules/asynckit/serialOrdered.js
src/node_modules/asynckit/stream.js
src/node_modules/asynckit/lib/abort.js
src/node_modules/asynckit/lib/async.js
src/node_modules/asynckit/lib/defer.js
src/node_modules/asynckit/lib/iterate.js
src/node_modules/asynckit/lib/readable_asynckit.js
src/node_modules/asynckit/lib/readable_parallel.js
src/node_modules/asynckit/lib/readable_serial_ordered.js
src/node_modules/asynckit/lib/readable_serial.js
src/node_modules/asynckit/lib/state.js
src/node_modules/asynckit/lib/streamify.js
src/node_modules/asynckit/lib/terminator.js
src/node_modules/chalk/index.d.ts
src/node_modules/chalk/license
src/node_modules/chalk/package.json
src/node_modules/chalk/readme.md
src/node_modules/chalk/source/index.js
src/node_modules/chalk/source/templates.js
src/node_modules/chalk/source/util.js
src/node_modules/color-convert/CHANGELOG.md
src/node_modules/color-convert/conversions.js
src/node_modules/color-convert/index.js
src/node_modules/color-convert/LICENSE
src/node_modules/color-convert/package.json
src/node_modules/color-convert/README.md
src/node_modules/color-convert/route.js
src/node_modules/color-name/index.js
src/node_modules/color-name/LICENSE
src/node_modules/color-name/package.json
src/node_modules/color-name/README.md
src/node_modules/combined-stream/License
src/node_modules/combined-stream/package.json
src/node_modules/combined-stream/Readme.md
src/node_modules/combined-stream/yarn.lock
src/node_modules/combined-stream/lib/combined_stream.js
src/node_modules/delayed-stream/.npmignore
src/node_modules/delayed-stream/License
src/node_modules/delayed-stream/Makefile
src/node_modules/delayed-stream/package.json
src/node_modules/delayed-stream/Readme.md
src/node_modules/delayed-stream/lib/delayed_stream.js
src/node_modules/discord.js/.tern-project
src/node_modules/discord.js/jsdoc.json
src/node_modules/discord.js/LICENSE
src/node_modules/discord.js/package.json
src/node_modules/discord.js/README.md
src/node_modules/discord.js/esm/discord.mjs
src/node_modules/discord.js/src/index.js
src/node_modules/discord.js/src/WebSocket.js
src/node_modules/discord.js/src/client/BaseClient.js
src/node_modules/discord.js/src/client/Client.js
src/node_modules/discord.js/src/client/WebhookClient.js
src/node_modules/discord.js/src/client/actions/Action.js
src/node_modules/discord.js/src/client/actions/ActionsManager.js
src/node_modules/discord.js/src/client/actions/ChannelCreate.js
src/node_modules/discord.js/src/client/actions/ChannelDelete.js
src/node_modules/discord.js/src/client/actions/ChannelUpdate.js
src/node_modules/discord.js/src/client/actions/GuildBanRemove.js
src/node_modules/discord.js/src/client/actions/GuildChannelsPositionUpdate.js
src/node_modules/discord.js/src/client/actions/GuildDelete.js
src/node_modules/discord.js/src/client/actions/GuildEmojiCreate.js
src/node_modules/discord.js/src/client/actions/GuildEmojiDelete.js
src/node_modules/discord.js/src/client/actions/GuildEmojisUpdate.js
src/node_modules/discord.js/src/client/actions/GuildEmojiUpdate.js
src/node_modules/discord.js/src/client/actions/GuildIntegrationsUpdate.js
src/node_modules/discord.js/src/client/actions/GuildMemberRemove.js
src/node_modules/discord.js/src/client/actions/GuildMemberUpdate.js
src/node_modules/discord.js/src/client/actions/GuildRoleCreate.js
src/node_modules/discord.js/src/client/actions/GuildRoleDelete.js
src/node_modules/discord.js/src/client/actions/GuildRolesPositionUpdate.js
src/node_modules/discord.js/src/client/actions/GuildRoleUpdate.js
src/node_modules/discord.js/src/client/actions/GuildUpdate.js
src/node_modules/discord.js/src/client/actions/InviteCreate.js
src/node_modules/discord.js/src/client/actions/InviteDelete.js
src/node_modules/discord.js/src/client/actions/MessageCreate.js
src/node_modules/discord.js/src/client/actions/MessageDelete.js
src/node_modules/discord.js/src/client/actions/MessageDeleteBulk.js
src/node_modules/discord.js/src/client/actions/MessageReactionAdd.js
src/node_modules/discord.js/src/client/actions/MessageReactionRemove.js
src/node_modules/discord.js/src/client/actions/MessageReactionRemoveAll.js
src/node_modules/discord.js/src/client/actions/MessageReactionRemoveEmoji.js
src/node_modules/discord.js/src/client/actions/MessageUpdate.js
src/node_modules/discord.js/src/client/actions/PresenceUpdate.js
src/node_modules/discord.js/src/client/actions/TypingStart.js
src/node_modules/discord.js/src/client/actions/UserUpdate.js
src/node_modules/discord.js/src/client/actions/VoiceStateUpdate.js
src/node_modules/discord.js/src/client/actions/WebhooksUpdate.js
src/node_modules/discord.js/src/client/voice/ClientVoiceManager.js
src/node_modules/discord.js/src/client/voice/VoiceBroadcast.js
src/node_modules/discord.js/src/client/voice/VoiceConnection.js
src/node_modules/discord.js/src/client/voice/dispatcher/BroadcastDispatcher.js
src/node_modules/discord.js/src/client/voice/dispatcher/StreamDispatcher.js
src/node_modules/discord.js/src/client/voice/networking/VoiceUDPClient.js
src/node_modules/discord.js/src/client/voice/networking/VoiceWebSocket.js
src/node_modules/discord.js/src/client/voice/player/AudioPlayer.js
src/node_modules/discord.js/src/client/voice/player/BasePlayer.js
src/node_modules/discord.js/src/client/voice/player/BroadcastAudioPlayer.js
src/node_modules/discord.js/src/client/voice/receiver/PacketHandler.js
src/node_modules/discord.js/src/client/voice/receiver/Receiver.js
src/node_modules/discord.js/src/client/voice/util/PlayInterface.js
src/node_modules/discord.js/src/client/voice/util/Secretbox.js
src/node_modules/discord.js/src/client/voice/util/Silence.js
src/node_modules/discord.js/src/client/voice/util/VolumeInterface.js
src/node_modules/discord.js/src/client/websocket/WebSocketManager.js
src/node_modules/discord.js/src/client/websocket/WebSocketShard.js
src/node_modules/discord.js/src/client/websocket/handlers/CHANNEL_CREATE.js
src/node_modules/discord.js/src/client/websocket/handlers/CHANNEL_DELETE.js
src/node_modules/discord.js/src/client/websocket/handlers/CHANNEL_PINS_UPDATE.js
src/node_modules/discord.js/src/client/websocket/handlers/CHANNEL_UPDATE.js
src/node_modules/discord.js/src/client/websocket/handlers/GUILD_BAN_ADD.js
src/node_modules/discord.js/src/client/websocket/handlers/GUILD_BAN_REMOVE.js
src/node_modules/discord.js/src/client/websocket/handlers/GUILD_CREATE.js
src/node_modules/discord.js/src/client/websocket/handlers/GUILD_DELETE.js
src/node_modules/discord.js/src/client/websocket/handlers/GUILD_EMOJIS_UPDATE.js
src/node_modules/discord.js/src/client/websocket/handlers/GUILD_INTEGRATIONS_UPDATE.js
src/node_modules/discord.js/src/client/websocket/handlers/GUILD_MEMBER_ADD.js
src/node_modules/discord.js/src/client/websocket/handlers/GUILD_MEMBER_REMOVE.js
src/node_modules/discord.js/src/client/websocket/handlers/GUILD_MEMBER_UPDATE.js
src/node_modules/discord.js/src/client/websocket/handlers/GUILD_MEMBERS_CHUNK.js
src/node_modules/discord.js/src/client/websocket/handlers/GUILD_ROLE_CREATE.js
src/node_modules/discord.js/src/client/websocket/handlers/GUILD_ROLE_DELETE.js
src/node_modules/discord.js/src/client/websocket/handlers/GUILD_ROLE_UPDATE.js
src/node_modules/discord.js/src/client/websocket/handlers/GUILD_UPDATE.js
src/node_modules/discord.js/src/client/websocket/handlers/index.js
src/node_modules/discord.js/src/client/websocket/handlers/INVITE_CREATE.js
src/node_modules/discord.js/src/client/websocket/handlers/INVITE_DELETE.js
src/node_modules/discord.js/src/client/websocket/handlers/MESSAGE_CREATE.js
src/node_modules/discord.js/src/client/websocket/handlers/MESSAGE_DELETE_BULK.js
src/node_modules/discord.js/src/client/websocket/handlers/MESSAGE_DELETE.js
src/node_modules/discord.js/src/client/websocket/handlers/MESSAGE_REACTION_ADD.js
src/node_modules/discord.js/src/client/websocket/handlers/MESSAGE_REACTION_REMOVE_ALL.js
src/node_modules/discord.js/src/client/websocket/handlers/MESSAGE_REACTION_REMOVE_EMOJI.js
src/node_modules/discord.js/src/client/websocket/handlers/MESSAGE_REACTION_REMOVE.js
src/node_modules/discord.js/src/client/websocket/handlers/MESSAGE_UPDATE.js
src/node_modules/discord.js/src/client/websocket/handlers/PRESENCE_UPDATE.js
src/node_modules/discord.js/src/client/websocket/handlers/READY.js
src/node_modules/discord.js/src/client/websocket/handlers/RESUMED.js
src/node_modules/discord.js/src/client/websocket/handlers/TYPING_START.js
src/node_modules/discord.js/src/client/websocket/handlers/USER_UPDATE.js
src/node_modules/discord.js/src/client/websocket/handlers/VOICE_SERVER_UPDATE.js
src/node_modules/discord.js/src/client/websocket/handlers/VOICE_STATE_UPDATE.js
src/node_modules/discord.js/src/client/websocket/handlers/WEBHOOKS_UPDATE.js
src/node_modules/discord.js/src/errors/DJSError.js
src/node_modules/discord.js/src/errors/index.js
src/node_modules/discord.js/src/errors/Messages.js
src/node_modules/discord.js/src/managers/BaseManager.js
src/node_modules/discord.js/src/managers/ChannelManager.js
src/node_modules/discord.js/src/managers/GuildChannelManager.js
src/node_modules/discord.js/src/managers/GuildEmojiManager.js
src/node_modules/discord.js/src/managers/GuildEmojiRoleManager.js
src/node_modules/discord.js/src/managers/GuildManager.js
src/node_modules/discord.js/src/managers/GuildMemberManager.js
src/node_modules/discord.js/src/managers/GuildMemberRoleManager.js
src/node_modules/discord.js/src/managers/MessageManager.js
src/node_modules/discord.js/src/managers/PresenceManager.js
src/node_modules/discord.js/src/managers/ReactionManager.js
src/node_modules/discord.js/src/managers/ReactionUserManager.js
src/node_modules/discord.js/src/managers/RoleManager.js
src/node_modules/discord.js/src/managers/UserManager.js
src/node_modules/discord.js/src/managers/VoiceStateManager.js
src/node_modules/discord.js/src/rest/APIRequest.js
src/node_modules/discord.js/src/rest/APIRouter.js
src/node_modules/discord.js/src/rest/AsyncQueue.js
src/node_modules/discord.js/src/rest/DiscordAPIError.js
src/node_modules/discord.js/src/rest/HTTPError.js
src/node_modules/discord.js/src/rest/RequestHandler.js
src/node_modules/discord.js/src/rest/RESTManager.js
src/node_modules/discord.js/src/sharding/Shard.js
src/node_modules/discord.js/src/sharding/ShardClientUtil.js
src/node_modules/discord.js/src/sharding/ShardingManager.js
src/node_modules/discord.js/src/structures/APIMessage.js
src/node_modules/discord.js/src/structures/Base.js
src/node_modules/discord.js/src/structures/BaseGuildEmoji.js
src/node_modules/discord.js/src/structures/CategoryChannel.js
src/node_modules/discord.js/src/structures/Channel.js
src/node_modules/discord.js/src/structures/ClientApplication.js
src/node_modules/discord.js/src/structures/ClientPresence.js
src/node_modules/discord.js/src/structures/ClientUser.js
src/node_modules/discord.js/src/structures/DMChannel.js
src/node_modules/discord.js/src/structures/Emoji.js
src/node_modules/discord.js/src/structures/Guild.js
src/node_modules/discord.js/src/structures/GuildAuditLogs.js
src/node_modules/discord.js/src/structures/GuildChannel.js
src/node_modules/discord.js/src/structures/GuildEmoji.js
src/node_modules/discord.js/src/structures/GuildMember.js
src/node_modules/discord.js/src/structures/GuildPreview.js
src/node_modules/discord.js/src/structures/GuildPreviewEmoji.js
src/node_modules/discord.js/src/structures/GuildTemplate.js
src/node_modules/discord.js/src/structures/Integration.js
src/node_modules/discord.js/src/structures/IntegrationApplication.js
src/node_modules/discord.js/src/structures/Invite.js
src/node_modules/discord.js/src/structures/Message.js
src/node_modules/discord.js/src/structures/MessageAttachment.js
src/node_modules/discord.js/src/structures/MessageCollector.js
src/node_modules/discord.js/src/structures/MessageEmbed.js
src/node_modules/discord.js/src/structures/MessageMentions.js
src/node_modules/discord.js/src/structures/MessageReaction.js
src/node_modules/discord.js/src/structures/NewsChannel.js
src/node_modules/discord.js/src/structures/PartialGroupDMChannel.js
src/node_modules/discord.js/src/structures/PermissionOverwrites.js
src/node_modules/discord.js/src/structures/Presence.js
src/node_modules/discord.js/src/structures/ReactionCollector.js
src/node_modules/discord.js/src/structures/ReactionEmoji.js
src/node_modules/discord.js/src/structures/Role.js
src/node_modules/discord.js/src/structures/StoreChannel.js
src/node_modules/discord.js/src/structures/Team.js
src/node_modules/discord.js/src/structures/TeamMember.js
src/node_modules/discord.js/src/structures/TextChannel.js
src/node_modules/discord.js/src/structures/User.js
src/node_modules/discord.js/src/structures/VoiceChannel.js
src/node_modules/discord.js/src/structures/VoiceRegion.js
src/node_modules/discord.js/src/structures/VoiceState.js
src/node_modules/discord.js/src/structures/Webhook.js
src/node_modules/discord.js/src/structures/interfaces/Application.js
src/node_modules/discord.js/src/structures/interfaces/Collector.js
src/node_modules/discord.js/src/structures/interfaces/TextBasedChannel.js
src/node_modules/discord.js/src/util/ActivityFlags.js
src/node_modules/discord.js/src/util/BitField.js
src/node_modules/discord.js/src/util/Collection.js
src/node_modules/discord.js/src/util/Constants.js
src/node_modules/discord.js/src/util/DataResolver.js
src/node_modules/discord.js/src/util/Intents.js
src/node_modules/discord.js/src/util/LimitedCollection.js
src/node_modules/discord.js/src/util/MessageFlags.js
src/node_modules/discord.js/src/util/Permissions.js
src/node_modules/discord.js/src/util/Snowflake.js
src/node_modules/discord.js/src/util/Speaking.js
src/node_modules/discord.js/src/util/Structures.js
src/node_modules/discord.js/src/util/SystemChannelFlags.js
src/node_modules/discord.js/src/util/UserFlags.js
src/node_modules/discord.js/src/util/Util.js
src/node_modules/discord.js/typings/index.d.ts
src/node_modules/discord.js/typings/index.ts
src/node_modules/discord.js/webpack/discord.min.js
src/node_modules/discord.js/webpack/discord.min.js.LICENSE.txt
src/node_modules/event-target-shim/index.d.ts
src/node_modules/event-target-shim/LICENSE
src/node_modules/event-target-shim/package.json
src/node_modules/event-target-shim/README.md
src/node_modules/event-target-shim/dist/event-target-shim.js
src/node_modules/event-target-shim/dist/event-target-shim.js.map
src/node_modules/event-target-shim/dist/event-target-shim.mjs
src/node_modules/event-target-shim/dist/event-target-shim.mjs.map
src/node_modules/event-target-shim/dist/event-target-shim.umd.js
src/node_modules/event-target-shim/dist/event-target-shim.umd.js.map
src/node_modules/has-flag/index.d.ts
src/node_modules/has-flag/index.js
src/node_modules/has-flag/license
src/node_modules/has-flag/package.json
src/node_modules/has-flag/readme.md
src/node_modules/mime-db/db.json
src/node_modules/mime-db/HISTORY.md
src/node_modules/mime-db/index.js
src/node_modules/mime-db/LICENSE
src/node_modules/mime-db/package.json
src/node_modules/mime-db/README.md
src/node_modules/mime-types/HISTORY.md
src/node_modules/mime-types/index.js
src/node_modules/mime-types/LICENSE
src/node_modules/mime-types/package.json
src/node_modules/mime-types/README.md
src/node_modules/node-fetch/browser.js
src/node_modules/node-fetch/LICENSE.md
src/node_modules/node-fetch/package.json
src/node_modules/node-fetch/README.md
src/node_modules/node-fetch/lib/index.es.js
src/node_modules/node-fetch/lib/index.js
src/node_modules/node-fetch/lib/index.mjs
src/node_modules/prism-media/LICENSE
src/node_modules/prism-media/package.json
src/node_modules/prism-media/README.md
src/node_modules/prism-media/src/index.js
src/node_modules/prism-media/src/core/FFmpeg.js
src/node_modules/prism-media/src/core/index.js
src/node_modules/prism-media/src/core/VolumeTransformer.js
src/node_modules/prism-media/src/core/WebmBase.js
src/node_modules/prism-media/src/opus/index.js
src/node_modules/prism-media/src/opus/OggDemuxer.js
src/node_modules/prism-media/src/opus/Opus.js
src/node_modules/prism-media/src/opus/WebmDemuxer.js
src/node_modules/prism-media/src/util/loader.js
src/node_modules/prism-media/src/vorbis/index.js
src/node_modules/prism-media/src/vorbis/WebmDemuxer.js
src/node_modules/prism-media/typings/index.d.ts
src/node_modules/prism-media/typings/opus.d.ts
src/node_modules/prism-media/typings/vorbis.d.ts
src/node_modules/setimmediate/LICENSE.txt
src/node_modules/setimmediate/package.json
src/node_modules/setimmediate/setImmediate.js
src/node_modules/supports-color/browser.js
src/node_modules/supports-color/index.js
src/node_modules/supports-color/license
src/node_modules/supports-color/package.json
src/node_modules/supports-color/readme.md
src/node_modules/tr46/.npmignore
src/node_modules/tr46/index.js
src/node_modules/tr46/package.json
src/node_modules/tr46/lib/.gitkeep
src/node_modules/tr46/lib/mappingTable.json
src/node_modules/tweetnacl/AUTHORS.md
src/node_modules/tweetnacl/CHANGELOG.md
src/node_modules/tweetnacl/LICENSE
src/node_modules/tweetnacl/nacl-fast.js
src/node_modules/tweetnacl/nacl-fast.min.js
src/node_modules/tweetnacl/nacl.d.ts
src/node_modules/tweetnacl/nacl.js
src/node_modules/tweetnacl/nacl.min.js
src/node_modules/tweetnacl/package.json
src/node_modules/tweetnacl/PULL_REQUEST_TEMPLATE.md
src/node_modules/tweetnacl/README.md
src/node_modules/webidl-conversions/LICENSE.md
src/node_modules/webidl-conversions/package.json
src/node_modules/webidl-conversions/README.md
src/node_modules/webidl-conversions/lib/index.js
src/node_modules/whatwg-url/LICENSE.txt
src/node_modules/whatwg-url/package.json
src/node_modules/whatwg-url/README.md
src/node_modules/whatwg-url/lib/public-api.js
src/node_modules/whatwg-url/lib/URL-impl.js
src/node_modules/whatwg-url/lib/url-state-machine.js
src/node_modules/whatwg-url/lib/URL.js
src/node_modules/whatwg-url/lib/utils.js
src/node_modules/ws/browser.js
src/node_modules/ws/index.js
src/node_modules/ws/LICENSE
src/node_modules/ws/package.json
src/node_modules/ws/README.md
src/node_modules/ws/lib/buffer-util.js
src/node_modules/ws/lib/constants.js
src/node_modules/ws/lib/event-target.js
src/node_modules/ws/lib/extension.js
src/node_modules/ws/lib/limiter.js
src/node_modules/ws/lib/permessage-deflate.js
src/node_modules/ws/lib/receiver.js
src/node_modules/ws/lib/sender.js
src/node_modules/ws/lib/stream.js
src/node_modules/ws/lib/validation.js
src/node_modules/ws/lib/websocket-server.js
src/node_modules/ws/lib/websocket.js
src/package-lock.json
